@using System.Diagnostics

@code {
    private String? _filename;
    
    private void UploadFile(dynamic args)
    {
        _filename = $"{Guid.NewGuid().ToString().ToLower().Replace("-", "")}{args.File.Name}";
        Debug.WriteLine(_filename);
    }

}

<h2>Upload an image to begin</h2>
<InputFile OnChange="UploadFile"></InputFile>