@page "/"
<section id="reduce">
    <div class="d-flex flex-row">
        <div class="p-4">
            <h1>Reduce</h1>
            <h2>Reducing barriers to indigenous thriving through a ground-up redefinition of reconciliation.</h2>
            <p>
                Let’s face it, the current approach to reconciliation just isn’t working.
            </p>
            <p>
                We believe the top-down approach favoured by federal government is too prescriptive, we do things differently - engaging with and taking direction from, indigenous leaders and citizens at all levels.
            </p>
            <p>
                We truly believe that the average homeless person understands, better than we ever could, what will help them get where they want to be.
            </p>
            <p>
                We give individuals the respect and support they need to thrive by their definition of the word.
            </p>
        </div>
        <div class="p-2">
            <img style="max-height:200px; border-radius: 35px;"
                 src="/img/trail_closed.jpg"
                 alt="TRAIL CLOSED"/>
        </div>
    </div>
</section>

<section id="retain">
    <div class="d-flex flex-row-reverse" >
        <div class="p-4">
            <h1>Retain</h1>
            <h2>Supporting ongoing efforts to accelerate true indigenous sovereignty.</h2>
            <p>
                We’re not alone and we’re not starting from scratch!
            </p>
            <p>
                Despite the ham-fisted and half-arsed approach taken by the experts in government, many organisations just like us have made tremendous progress towards our shared goals.
            </p>
            <p>
                We are committed to supporting these efforts, whether that is through collaboration, consulting, or just financial backing. We’re here to help.
            </p>
        </div>
        <div class="p-2">
            <img style="max-height:200px; border-radius: 35px;"
                 src="/img/magnets.jpg"
                 alt="HORSESHOE MAGNETS">
        </div>
    </div>
</section>

<section id="reclaim">
    <div class="d-flex flex-row">
        <div class="p-4">
            <h1>Reclaim</h1>
            <h2>Reviving traditional indigenous practices and lifestyle alongside a modern settler society.</h2>
            <p>
                A lot of settlers take comfort in the knowledge there's nothing they can do to help Indigenous Canadians live the lives they choose.
            </p>
            <p>
                We are here to correct that knowledge, through action, innovation, and education. Not empty promises.
            </p>
            <p>
                We strongly believe that market capitalism is to blame for the state of our planet, that's why we are, and always be, a not-for-profit organisation.
            </p>
        </div>
        <div class="p-2">
            <img style="max-height:200px; border-radius: 35px;"
                 src="/img/reclaim.jpg"
                 alt="THE WORD RECLAIM">
        </div>
    </div>
</section>